Repository clchinkc/SecureEncoder: changes, and which Codecov flags are due for each by the changed paths.
All: SecureEncoderReact, SecureEncoderFlask

codecov.yml:

coverage:
  status:
    project:
      default:
        # Set target coverage to auto compare with the previous base commit
        target: auto
        # Set a minimum threshold for coverage drops, e.g., allowing a 10% drop
        threshold: 10%
        # Optionally, specify a base commit for comparison
        base: auto
        informational: true
    # Blocking coverage targets so each PR must increase coverage
    patch:
      default:
        target: auto
        threshold: 5%
        informational: true
    # Status checks based on flags
    SecureEncoderReact:
      flags:
        - SecureEncoderReact
    SecureEncoderFlask:
      flags:
        - SecureEncoderFlask

flags:
  SecureEncoderReact:
    paths: 
      - SecureEncoderReact/
  SecureEncoderFlask:
    paths:
      - SecureEncoderFlask/

comment: false

Development (#18)
  .github/workflows/test-and-converage.yml
  README.md
  SecureEncoderReact/tests/FileList.test.tsx
  codecov.yml
Due: SecureEncoderReact

Update bundle nameand add component management
  SecureEncoderReact/vite.config.ts
  codecov.yml
Due: SecureEncoderReact

Development (#19)
  SecureEncoderReact/vite.config.ts
  codecov.yml
Due: SecureEncoderReact

Update codecov.yml with flags
  codecov.yml
Due: none

Development (#20)
  codecov.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

Delete .github/workflows/codeql.yml (#21)
  .github/workflows/codeql.yml
Due: none

Update readme.md
  README.md
Due: none

chore: Update GitHub Actions workflow for test and coverage
  .circleci/config.yml
  .github/workflows/test-and-coverage.yml
  SecureEncoderFlask/requirements.txt
Due: SecureEncoderFlask

chore: Update GitHub Actions workflow for test and coverage
  .github/workflows/test-and-converage.yml
  README.md
  SecureEncoderReact/tests/FileList.test.tsx
  codecov.yml
Due: SecureEncoderReact

chore: Remove unused @codecov/vite-plugin from package.json and vite.config.ts
  .codecov.yml
  .github/workflows/test-and-converage.yml
  README.md
  SecureEncoderReact/package-lock.json
  SecureEncoderReact/package.json
  SecureEncoderReact/vite.config.ts
Due: SecureEncoderReact

chore: Update codecov.yml with flags
  codecov.yml
Due: none

Development (#22)
  .codecov.yml
  .github/workflows/test-and-converage.yml
  README.md
  SecureEncoderReact/package-lock.json
  SecureEncoderReact/package.json
  SecureEncoderReact/vite.config.ts
Due: SecureEncoderReact

Fix security issues
  README.md
  SecureEncoderFlask/Dockerfile
  SecureEncoderFlask/src/app.py
  SecureEncoderFlask/src/compression_decompression.py
  SecureEncoderReact/src/components/Alert.tsx
  SecureEncoderReact/src/components/Button.tsx
  SecureEncoderReact/src/components/Card.tsx
  SecureEncoderReact/src/components/ErrorBoundary.tsx
  SecureEncoderReact/src/components/FileList.tsx
  SecureEncoderReact/src/components/Header.tsx
  SecureEncoderReact/src/components/KeyUploader.tsx
  SecureEncoderReact/src/components/OperationSelector.tsx
  SecureEncoderReact/src/components/ResultDisplay.tsx
  SecureEncoderReact/src/components/Tabs.tsx
  SecureEncoderReact/src/components/TextProcessor.tsx
  SecureEncoderReact/src/components/ToggleButton.tsx
  SecureEncoderReact/src/context/AppContext.tsx
  SecureEncoderReact/src/hoc/withKeyboardShortcuts.tsx
  SecureEncoderReact/src/index.tsx
  SecureEncoderReact/src/pages/Home.tsx
  SecureEncoderReact/src/utils/throttleAndDebounce.tsx
  SecureEncoderReact/tests/TextProcessor.test.tsx
Due: SecureEncoderReact, SecureEncoderFlask

chore: Update ReactDOM.createRoot to use type assertion
  SecureEncoderReact/src/index.tsx
Due: SecureEncoderReact

Development (#23)
  README.md
  SecureEncoderFlask/Dockerfile
  SecureEncoderFlask/src/app.py
  SecureEncoderFlask/src/compression_decompression.py
  SecureEncoderReact/src/components/Alert.tsx
  SecureEncoderReact/src/components/Button.tsx
  SecureEncoderReact/src/components/Card.tsx
  SecureEncoderReact/src/components/ErrorBoundary.tsx
  SecureEncoderReact/src/components/FileList.tsx
  SecureEncoderReact/src/components/Header.tsx
  SecureEncoderReact/src/components/KeyUploader.tsx
  SecureEncoderReact/src/components/OperationSelector.tsx
  SecureEncoderReact/src/components/ResultDisplay.tsx
  SecureEncoderReact/src/components/Tabs.tsx
  SecureEncoderReact/src/components/TextProcessor.tsx
  SecureEncoderReact/src/components/ToggleButton.tsx
  SecureEncoderReact/src/context/AppContext.tsx
  SecureEncoderReact/src/hoc/withKeyboardShortcuts.tsx
  SecureEncoderReact/src/pages/Home.tsx
  SecureEncoderReact/src/utils/throttleAndDebounce.tsx
  SecureEncoderReact/tests/TextProcessor.test.tsx
Due: SecureEncoderReact, SecureEncoderFlask

chore: Refactor logging configuration and setup
  SecureEncoderFlask/src/app.py
  SecureEncoderFlask/src/create_app.py
  SecureEncoderFlask/src/file_routes.py
  SecureEncoderFlask/src/log_execution.py
  SecureEncoderFlask/src/text_routes.py
Due: SecureEncoderFlask

chore: Update marshmallow and marshmallow_sqlalchemy dependencies
  README.md
  SecureEncoderFlask/requirements.txt
  SecureEncoderFlask/src/app.py
  SecureEncoderFlask/src/file_routes.py
  SecureEncoderFlask/src/md5_model.py
  SecureEncoderFlask/src/schemas.py
  SecureEncoderFlask/src/text_routes.py
Due: SecureEncoderFlask

Fix bug
  SecureEncoderFlask/src/md5_model.py
Due: SecureEncoderFlask

chore: Remove unused import statement in md5_model.py
  SecureEncoderFlask/src/md5_model.py
Due: SecureEncoderFlask

Development (#24)
  README.md
  SecureEncoderFlask/requirements.txt
  SecureEncoderFlask/src/app.py
  SecureEncoderFlask/src/create_app.py
  SecureEncoderFlask/src/file_routes.py
  SecureEncoderFlask/src/log_execution.py
  SecureEncoderFlask/src/md5_model.py
  SecureEncoderFlask/src/schemas.py
  SecureEncoderFlask/src/text_routes.py
Due: SecureEncoderFlask

feat: Add transition effect to dark mode toggle
  SecureEncoderReact/src/components/ToggleButton.tsx
Due: SecureEncoderReact

Create dependabot.yml
  .github/dependabot.yml
Due: none

feat: Add transition effect to dark mode toggle (#69)
  SecureEncoderReact/src/components/ToggleButton.tsx
Due: SecureEncoderReact

chore: Update GitHub Actions artifact upload to v4
  .github/workflows/test-and-converage.yml
Due: none
